{% extends 'base.html.twig' %}
{% block body %}
    <header id="header">
        {% block header %}
            {% include 'site/components/header.html.twig' %}
        {% endblock %}
    </header>
    <main id="main">
        {% include 'site/components/flash.html.twig' %}
        {% block main %}{% endblock %}
    </main>
    <footer id="footer">
        {% block sponsor %}
            <div class="">
                {% include 'site/components/sponsoring.html.twig' %}
            </div>
        {% endblock %}
        {% block footer %}
            <div class="">
                {% include 'site/components/footer.html.twig' %}
            </div>
        {% endblock %}
        {% block footbar %}
            <div class="">
                {% include 'site/components/footBar.html.twig' %}
            </div>
        {% endblock %}
    </footer>
{% endblock %}