@use 'variables' as vars;
@use '../bootstrap-site' as bootstrap;

#header .head-wrap {
    display: flex;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: vars.$box-shadow;
    height: 12rem;
    background-color: vars.$primary;

    .head-content {
        text-align: center;
        align-self: center;
        color: vars.$header-color;

        .logo {
            max-height: 5.5rem;
            margin-bottom: 1.5rem;

            &.logo-full-height {
                max-height: 10.5rem
            }
        }
    }

    &.startpage {
        height: 16rem;
        .head-content .logo {
            max-height: 5.5rem;

            &.logo-full-height {
                max-height: 14.5rem
            }
        }
    }

    // Fix dropdown alignment in collapsed mobile navbar
    .navbar-collapse {
        .nav-only-collapsed {
            .dropdown-menu-right {
                right: auto;
                left: 0;
            }
            .dropdown-menu-lg {
                min-width: 100%;
            }
        }
    }
}


// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    #header .head-wrap {
        height: 12rem;
        .head-content .logo {
            max-height: 8rem;
        }
        &.startpage {
            height: 16rem;
            .head-content .logo {
                max-height: 10rem;

                &.logo-full-height {
                    max-height: 14.5rem
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    #header .head-wrap {
        height: 12rem;
        .head-content .logo {
            max-height: 9rem;

            &.logo-full-height {
                max-height: 10.5rem
            }
        }
        &.startpage {
            height: 23rem;
            .head-content .logo {
                max-height: 16rem;

                &.logo-full-height {
                    max-height: 21.5rem
                }
            }
        }
    }
}