@use 'sass:color';
@use 'helper/variables' as vars;
@use 'bootstrap-site' as bootstrap;
@use 'helper/header';
@use 'helper/card';
@use 'helper/hover';
@use 'helper/common';

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main, #main {
    flex: 1 0 auto;
}

footer, #footer {
    box-shadow: vars.$box-shadow;
    flex-shrink: 0;
}

.card-img-top {
  flex-shrink: 0; // For IE: https://github.com/twbs/bootstrap/issues/29396
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  //max-height: 250px;
}

.bg-dark {
  background-color: #304b5b !important;
}

.list-group-hover .list-group-item:hover {
  color: bootstrap.$list-group-action-hover-color;
  background-color: bootstrap.$list-group-hover-bg;
}

.bg-darker {
    background-color: color.adjust(#304b5b, $lightness: -5%);
}

.text-disabled {
  color: bootstrap.$gray-300;
}

input.datetimepicker[readonly]:not([disabled]) {
  background: bootstrap.$input-bg;
}

input.datepicker[readonly]:not([disabled]) {
  background: bootstrap.$input-bg;
}

.social-btn-group {
  .btn {
    font-size: 1.5rem;
    padding: 0.1rem 0.3rem;
    margin-right: 0.5rem;
    margin-bottom: 0.7rem;
  }
} 
